body {
    background-color: black;
}

.table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 0;
    max-width: min(1050px, 90%);
    max-height: 90%;
    margin: auto auto;
}
@media (min-width: 480px) {
    .table {
        grid-template-columns: repeat(8, 1fr);
    }
}
@media (min-width: 768px) {
    .table {
        grid-template-columns: repeat(10, 1fr);
    }
}
@media (min-width: 980px) {
    .table {
        grid-template-columns: repeat(15, 1fr);
    }
}

p {
    background-color: aqua;
    padding: 0.7rem;
    margin: 1px;
    font-size: 1.4rem;
}