.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: medium;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contenido {
	margin: auto;
}

.table {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 1rem 0;
	max-width: min(1050px, 90%);
	margin: 0 auto;
}
@media (min-width: 480px) {
	.table {
			grid-template-columns: repeat(8, 1fr);
	}
}
@media (min-width: 768px) {
	.table {
			grid-template-columns: repeat(10, 1fr);
	}
}
@media (min-width: 980px) {
	.table {
			grid-template-columns: repeat(15, 1fr);
	}
}

p {
	font-size: 1rem;
}

.center {
	display: flex;
	justify-content: center;
}

#content {
  margin: 1rem;
}

.square {
  width: fit-content;
	background-color: aqua;
	padding: 0.6rem;
	margin: 1px;
}

.output {
  display: flex;
  justify-content: center;
}

.full_width {
  width:auto;
}